doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript').
      function displayCity(citiesName) {
        alert("citiesName Value")	
        }
  body
    block content
